<th:block xmlns:th="http://www.thymeleaf.org">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Add a new car</h1>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <form action="/cars/add" method="POST">
                    <input th:type="text" class="form-control" id="name" name="name" required placeholder="Enter model...">
                    <br/>
                    <select name="manufacturer" id="manufacturer" class="form-control">
                        <option th:each="m:${manufacturers}"
                                th:text="${m.name}"></option>
                    </select>
                    <br/>
                    <input th:type="text" class="form-control" id="price" name="price" required placeholder="Enter price...">
                    <br/>
                    <input th:type="text" class="form-control" id="description" name="description" required placeholder="Enter desc...">
                    <br/>
                    <button id="submit" type="submit" class="btn btn-primary">Submit</button>
                    <br/>
                    <a type="button" class="btn btn-primary" href="/manufacturers">Back</a>
                </form>
            </div>
        </div>
    </div>
</th:block>

